@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Работа с документами</h1>
    <a asp-action="@nameof(HomeController.CreateContract)">Создать новый</a>
    <a asp-action="@nameof(HomeController.FindContract)">Найти в базе</a>
</div>
